---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const year = new Date().getFullYear();

const urls = {
	github: "https://github.com/katbates",
	linkedin: "https://www.linkedin.com/in/kat-bates/",
	email: "mailto:katbates7@gmail.com",
	cv: "kat-bates-cv.pdf"
}

const projects = await getCollection('projects');
---

<Layout>
  <main class="wrapper">
    <section class="intro">
      <h1>Kat Bates</h1>
      <p>Aspiring Data Analyst</p>
      <ul>
        <li>
          <a href={urls.github}>GitHub</a>
        </li>
        <li>
          <a href={urls.linkedin}>LinkedIn</a>
        </li>
        <li>
          <a href={urls.email}>Email</a>
        </li>
        <li>
          <a href={urls.cv}>Download CV</a>
        </li>
      </ul>
    </section>
    <section class="gap-huge">
      <h2 class="gap-large">Projects</h2>
      <ul class="projects">
        {projects.map(({ data: { title, link, tags, images, theme } }) => (
          <li
            class="project-card"
            data-theme={theme.highContrast ? "high-contrast" : null}
            style={`--project-card-bg: ${theme.backgroundColor}`}
          >
            <div class="project-meta">
              <h3 class="h4 gap-tiny">
                <a href={link}>{title}</a>
              </h3>
              <ul>
                {tags.map((tag) => (
                  <li>{tag}</li>
                ))}
              </ul>
            </div>
            <div class="project-image">
              <img
                srcset={`${images.small.src} ${images.small.width}w, ${images.large.src} ${images.large.width}w`}
                sizes="(max-width: 500px) 80vw, 600px"
                src={images.large.src}
                height={images.large.height}
                width={images.large.width}
                loading={images.lazy ? "lazy" : null}
                alt=""
              />
            </div>
          </li>
        ))}
      </ul>
    </section>
  </main>
  <footer class="wrapper footer">
    <span>&copy; {year} Kat Bates</span>
    <ul>
      <li>
        <a href={urls.github} aria-label="Kat's GitHub">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            height="20"
          >
            <path
              fill="currentColor"
              d="M12 0C5.374 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23A11.509 11.509 0 0 1 12 5.803c1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576C20.566 21.797 24 17.3 24 12c0-6.627-5.373-12-12-12z"
            />
          </svg>
        </a>
      </li>
      <li>
        <a href={urls.linkedin} aria-label="Kat's LinkedIn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            height="24"
          >
            <path
              fill="currentColor"
              d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
            />
          </svg>
        </a>
      </li>
      <li>
        <a href={urls.email} aria-label="Kat's email">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            height="24"
          >
            <path
              fill="currentColor"
              d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</Layout>
