---
import "../styles/index.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Kat Bates | Aspiring Data Analyst",
  description = "The portfolio of Kat Bates, aspiring data analyst based in London",
} = Astro.props;

const socialImagePath = "/og-image.jpg";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
canonicalUrl.pathname = canonicalUrl.pathname.replace(/\/$/, ""); // Strip slash from the end of the path
---

<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{title}</title>
		<meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />

		<meta name='robots' content='index,follow' />

		<meta property='og:locale' content='en_GB' />
		<meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImagePath} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalUrl} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImagePath} />
  
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f652a0">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<slot />
	</body>
</html>
